div(class="kw_widget_overlay")
    &nbsp;
div(class="koemei_widget", style="width:{{width}}px;")
    div(class="widget_player", style="width:{{width}}px;, height:{{height}}px;")
    div(class="widget_bar border_box")
    div(class="widget_hold_panel")
        &nbsp;
    {{#if modal}}
    div(id="kw_close", class="kw_icon_close")
        &nbsp;`
    {{/if}}