div.overlay
div.share_video_popup.popup.border_box.rounded_corners
  div.popup_section
    div.heading SHARE VIDEO
    div.content
      div.share_button_wrap
        a.facebook_share.share_button.facebook_button_bg.border_box.rounded_corners &nbsp;
        a.twitter_share.share_button.twitter_button_bg.border_box.rounded_corners &nbsp;
        a.google_share.share_button.google_button_bg.border_box.rounded_corners &nbsp;
        a.email_share.share_button.email_button_bg.border_box.rounded_corners &nbsp;
        div.clear_b
      div.share_url_wrap
        input.share_url.border_box.rounded_corners(type="text", value="{{share_url}}")
  div.divider
  div.popup_section.last
    div.heading EMBED VIDEO
    div.content
      div.embed_url_wrap
        input.embed_url.border_box.rounded_corners(type="text", value="{{embed_code}}")
  div.arrow.top
