extends layout
    
block content
  <!-- build:js(app) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/json3/lib/json3.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
  <script src="bower_components/video.js/video.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/navbar.js"></script>  
  <script src="scripts/controllers/uploader.js"></script>
  <script src="scripts/controllers/player.js"></script>
  <!-- endbuild -->    