div(id="feedback", class="tab kw_feedback_pane")
    h2
        Give feedback
    form
        select
            option Category
        textarea(placeholder="Enter your message", style="height:{{height}}px")
        input(type="email", placeholder="Your e-mail address")
        button(type="submit") Send feedback