div(class="koemei_tour_overlay")
    div(class="tour_body")
        div(class="tour_previous_wrap tour_navigation disabled")
            span(class="tour_prev_icon tour_icon")
        div(class="tour_section")
            div(class="rounded_corners tour_hold_pic")
            div(class="text_medium tour_title")
                Watch video transcriptions in real time!
            div(class="tour_info")
                You can even search, edit, and save snippets of<br />your favourite quotes.
            div(class="close_tour_hold")
                a(href="#", class="close_tour") Skip
        div(class="tour_next_wrap tour_navigation")
            span(class="tour_next_icon tour_icon")