ol(id="kw_help_ol", style="display:none")
    li
        h4
            Welcome to Koemei widget
        p
            Click 'Next' to begin the tour.
    li(data-class="tips_toolbar")
        p
            Info tab
    li(data-class="transcript_edit")
        p
            Transcript tab
    li(data-id="widget_play")
        p
            Play\/Pause
        p
            em Shortcut:
            strong Ctrl
    li(data-id="segment_prev")
        p
            Previous segment
        p
            em Shortcut:
            strong Shift+Tab
    li(data-id="prev_word")
        p
            Previous word
        p
            em Shortcut:
            strong Shift+Left
    li(data-id="next_word")
        p
            Next word
        p
            em Shortcut:
            strong Shift+Right
    li(data-id="segment_next")
        p
            Next segment
        p
            em Shortcut:
            strong Tab
    li(data-class="kw_setings")
        p
            Transcript settings
    li(data-id="widget_search")
        p
            Search inside the transcript
    li(data-class="kw_seeker")
        p
            Search results will also appear in the video seek bar
    li(data-id="close_widget")
        p
            Close the widget