.entry.border_box.rounded_corners
    .entry_icon.border_box
        .icon
          span.binder_entries_count.text_semibold {{count}}
      .entry_inner
        .title
          a.title_link.text_semibold(href='#') {{title}}
      .entry_options
        .entry_option_wrap
          span.entry_option.binder_share_button
        .entry_option_wrap
          span.entry_option.binder_edit_button
        .entry_option_wrap
          span.entry_option.binder_delete_button
        .entry_option_wrap
          span.entry_option.binder_arrow_right_option