.popup_section
    .heading DELETE BINDER
      .message.mg_btm_10 Are you sure you want to delete this binder and all of the snippets within? It cannot be recovered.
    .divider
    .popup_section(id="{{cid}}")
      .button.neutral.save_button.border_box.rounded_corners.btn_cancel
        span.text Cancel
      .button.positive.submit_button.border_box.rounded_corners.btn_save
        span.text Delete
      .clear
    .arrow.top