.popup_section
    .heading SHARE BINDER
      .content
        .share_button_wrap
          a.facebook_share.share_button.facebook_button_bg.border_box.rounded_corners
          a.twitter_share.share_button.twitter_button_bg.border_box.rounded_corners
          a.google_share.share_button.google_button_bg.border_box.rounded_corners
          a.email_share.share_button.email_button_bg.last.border_box.rounded_corners
          .clear_b
    //
        .divider
          .popup_section
              .heading
                | ADD TO BINDER
              .content
                select.border_box.rounded_corners
                  option Favourite Quotes
                  option Favourite Quotes
                  option Favourite Quotes
            .divider
            .popup_section
              .heading
                | ADD TO NEW BINDER\
              .content
                input.border_box.rounded_corners(type='text', placeholder='New Binder')
            .divider
            .popup_section.last
              .content
                .button.positive.convert_button.border_box.rounded_corners
                  span.text Convert to a note

    .arrow.top
