.popup_section
    .heading
        | SELECT YOUR SNIPPET
      .content
        .snippet_list.rounded_corners
          ul.
            li
              .entry.rounded_corners
                .timestamp.text_semibold 00:11
                .text By the time they reach their retirement,
            li
              .entry.rounded_corners
                .timestamp.text_semibold 00:21
                .text half of all working men in the United States
            li
              .entry.rounded_corners
                .timestamp.text_semibold 00:31
                .text probably have a period of self-employment
    .popup_section
      .heading
        | ADD TO BINDER
      .content
        select.border_box.rounded_corners
          option Favourite Quotes
          option Favourite Quotes
          option Favourite Quotes
    .divider
    .popup_section.last
      .button.neutral.save_button.border_box.rounded_corners.btn_save_as_note
        span.text Save as Note
      .button.positive.submit_button.border_box.rounded_corners.btn_save_as_snippet
        span.text Save Snippet
      .clear
    .arrow.top