div(class="popup_section")
    div(class="heading") DELETE SNIPPET
    // TODO: Traian: no inline style
    div(class="message", style="margin-bottom:10px") Are you sure you want to delete this snippet? It cannot be recovered.
div(class="divider")
div(class="popup_section", id="{{cid}}")
    div(class="button neutral save_button border_box rounded_corners cancel_s_p")
        span(class="text") Cancel
    div(class="button positive submit_button border_box rounded_corners delete_s_p")
        span(class="text") Delete
    div(class="clear")
div(class="arrow top")


