body {
  padding: 50px;
  font: 14px "Helvetica", Lucida Grande, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
div#closedCaptions {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0,0,0,0.7);
  width: 460px;
  color: #fff;
  font: 14px "Courier", Helvetica, Arial, sans-serif;
  padding: 10px;
}
