extends layout

block content
  h1=title
  p Welcome to #{title}
  <div id="myElement">Loading the player...</div>
  <script type="text/javascript">jwplayer("myElement").setup({file: "http://localhost:8090/live.flv"});</script>
  <script> var socket = io.connect('http://localhost:3000/'); socket.on('message', function (data) { console.log(data); });</script>
  div
    div
      p Hello World
    div
      p Hi There