extends layout

block content
  h1=title
  p Welcome to #{title}
  p #{url}
  div(id="myElement") Loading the player...
  script.
    jwplayer("myElement").setup({file: "#{url}"});

    var socket = io.connect('http://localhost:3000/');
    var wordIndex = 0; 
    socket.on('message', function (data) { 
      $( "#closedCaptions" ).append( "<label>" + JSON.parse(data).word + " </label>" ); 
    });
  button(class="btn1") Hide Previous Captions
  button(class="btn2") Show All Captions
  div
    div(id="closedCaptions")
