doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script type="text/javascript" src="/jwplayer/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key="BIb8idU0NiaI799KsLFW1VamXp6H/A5UEW0kOA==";</script>
    script(src="/socket.io/lib/socket.io.js")
  body
    block content