doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/journal/bootstrap.min.css", rel="stylesheet")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css")
  body
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
       a.navbar-brand Speech Hack
       ul.nav.navbar-nav
         li.active
           a(href="#") Upload new file
    div.jumbotron
      div.container
        div.row-fluid
          div.span12
            block content
