div.overlay
div.popup.note_delete_popup.border_box.rounded_corners
  div.popup_section
    div.message.t_a_center Delete Note?
  div.popup_section.last
    div.button.neutral.save_button.border_box.rounded_corners.close_popup.s_b_c
      span.text No
    div.button.positive.submit_button.border_box.rounded_corners.delete_action.s_b
      span.text Yes
    div.clear
  div.arrow.top
