div.overlay
div.popup.note_share_popup.border_box.rounded_corners
  div.popup_section.last
    div.heading SHARE NOTE
    div.content
      div.share_button_wrap
        a.facebook_share.share_button.facebook_button_bg.border_box.rounded_corners &nbsp;
        a.twitter_share.share_button.twitter_button_bg.border_box.rounded_corners &nbsp;
        a.google_share.share_button.google_button_bg.border_box.rounded_corners &nbsp;
        a.email_share.share_button.email_button_bg.border_box.rounded_corners &nbsp;
        div.clear_b
    div.content
      input.share_url.border_box.rounded_corners(type="text", value="{{share_url}}")
  div.arrow.top
